In [1]:
import pandas as pd

In [21]:
measure = pd.read_table(r'C:\Codes\Snippets\sample data\measure.txt')

measure

     step  subitem        value lot_wf
0   kz000        1    64.759684  az1xx
1   kz000        2    56.530912  az1xx
2   kz000        3    29.422062  az1xx
3   kz000        4    71.807115  az1xx
4   kz000        1     5.896241  az2xx
5   kz000        2     9.246171  az2xx
6   kz000        3    35.794899  az2xx
7   kz000        4    26.421519  az2xx
8   kz100        1  8262.035229  az1xx
9   kz100        2  7433.690884  az1xx
10  kz100        3  8880.134533  az1xx
11  kz100        4  8703.780957  az1xx
12  kz100        1  7504.497271  az2xx
13  kz100        2  7531.583077  az2xx
14  kz100        3  5698.478884  az2xx
15  kz100        4  9924.720359  az2xx

In [22]:
crit = pd.read_table(r'C:\Codes\Snippets\sample data\criteria.txt')

crit

    step step_p step_p2
0  kz000  kz001     NaN
1  kz100  kz001   kz101

In [23]:
path = pd.read_table(r'C:\Codes\Snippets\sample data\path.txt')

path

  lot_wf step_p      ppid_p
0  az1xx  kz001      pRG7.5
1  az1xx  kz101  UHP3.3+CFL
2  az2xx  kz001      nRG8.5
3  az2xx  kz101      UHP3.1

In [31]:
res = pd.merge(measure, crit, on=['step'], how='left')

res

     step  subitem        value lot_wf step_p step_p2
0   kz000        1    64.759684  az1xx  kz001     NaN
1   kz000        2    56.530912  az1xx  kz001     NaN
2   kz000        3    29.422062  az1xx  kz001     NaN
3   kz000        4    71.807115  az1xx  kz001     NaN
4   kz000        1     5.896241  az2xx  kz001     NaN
5   kz000        2     9.246171  az2xx  kz001     NaN
6   kz000        3    35.794899  az2xx  kz001     NaN
7   kz000        4    26.421519  az2xx  kz001     NaN
8   kz100        1  8262.035229  az1xx  kz001   kz101
9   kz100        2  7433.690884  az1xx  kz001   kz101
10  kz100        3  8880.134533  az1xx  kz001   kz101
11  kz100        4  8703.780957  az1xx  kz001   kz101
12  kz100        1  7504.497271  az2xx  kz001   kz101
13  kz100        2  7531.583077  az2xx  kz001   kz101
14  kz100        3  5698.478884  az2xx  kz001   kz101
15  kz100        4  9924.720359  az2xx  kz001   kz101

In [32]:
res.set_index(['step','subitem','value','lot_wf'], inplace=True)

In [33]:
res

                                 step_p step_p2
step  subitem value       lot_wf
kz000 1       64.759684   az1xx   kz001     NaN
      2       56.530912   az1xx   kz001     NaN
      3       29.422062   az1xx   kz001     NaN
      4       71.807115   az1xx   kz001     NaN
      1       5.896241    az2xx   kz001     NaN
      2       9.246171    az2xx   kz001     NaN
      3       35.794899   az2xx   kz001     NaN
      4       26.421519   az2xx   kz001     NaN
kz100 1       8262.035229 az1xx   kz001   kz101
      2       7433.690884 az1xx   kz001   kz101
      3       8880.134533 az1xx   kz001   kz101
      4       8703.780957 az1xx   kz001   kz101
      1       7504.497271 az2xx   kz001   kz101
      2       7531.583077 az2xx   kz001   kz101
      3       5698.478884 az2xx   kz001   kz101
      4       9924.720359 az2xx   kz001   kz101

In [34]:
res = res.stack()

res

step   subitem  value        lot_wf
kz000  1        64.759684    az1xx   step_p     kz001
       2        56.530912    az1xx   step_p     kz001
       3        29.422062    az1xx   step_p     kz001
       4        71.807115    az1xx   step_p     kz001
       1        5.896241     az2xx   step_p     kz001
       2        9.246171     az2xx   step_p     kz001
       3        35.794899    az2xx   step_p     kz001
       4        26.421519    az2xx   step_p     kz001
kz100  1        8262.035229  az1xx   step_p     kz001
                                     step_p2    kz101
       2        7433.690884  az1xx   step_p     kz001
                                     step_p2    kz101
       3        8880.134533  az1xx   step_p     kz001
                                     step_p2    kz101
       4        8703.780957  az1xx   step_p     kz001
                                     step_p2    kz101
       1        7504.497271  az2xx   step_p     kz001
                                     step_p2    kz101
       2        7531.583077  az2xx   step_p     kz001
                                     step_p2    kz101
       3        5698.478884  az2xx   step_p     kz001
                                     step_p2    kz101
       4        9924.720359  az2xx   step_p     kz001
                                     step_p2    kz101
dtype: object

In [35]:
res2 = pd.DataFrame(res)

res2

                                              0
step  subitem value       lot_wf
kz000 1       64.759684   az1xx  step_p   kz001
      2       56.530912   az1xx  step_p   kz001
      3       29.422062   az1xx  step_p   kz001
      4       71.807115   az1xx  step_p   kz001
      1       5.896241    az2xx  step_p   kz001
      2       9.246171    az2xx  step_p   kz001
      3       35.794899   az2xx  step_p   kz001
      4       26.421519   az2xx  step_p   kz001
kz100 1       8262.035229 az1xx  step_p   kz001
                                 step_p2  kz101
      2       7433.690884 az1xx  step_p   kz001
                                 step_p2  kz101
      3       8880.134533 az1xx  step_p   kz001
                                 step_p2  kz101
      4       8703.780957 az1xx  step_p   kz001
                                 step_p2  kz101
      1       7504.497271 az2xx  step_p   kz001
                                 step_p2  kz101
      2       7531.583077 az2xx  step_p   kz001
                                 step_p2  kz101
      3       5698.478884 az2xx  step_p   kz001
                                 step_p2  kz101
      4       9924.720359 az2xx  step_p   kz001
                                 step_p2  kz101

In [36]:
res2.reset_index()

     step  subitem        value lot_wf  level_4      0
0   kz000        1    64.759684  az1xx   step_p  kz001
1   kz000        2    56.530912  az1xx   step_p  kz001
2   kz000        3    29.422062  az1xx   step_p  kz001
3   kz000        4    71.807115  az1xx   step_p  kz001
4   kz000        1     5.896241  az2xx   step_p  kz001
5   kz000        2     9.246171  az2xx   step_p  kz001
6   kz000        3    35.794899  az2xx   step_p  kz001
7   kz000        4    26.421519  az2xx   step_p  kz001
8   kz100        1  8262.035229  az1xx   step_p  kz001
9   kz100        1  8262.035229  az1xx  step_p2  kz101
10  kz100        2  7433.690884  az1xx   step_p  kz001
11  kz100        2  7433.690884  az1xx  step_p2  kz101
12  kz100        3  8880.134533  az1xx   step_p  kz001
13  kz100        3  8880.134533  az1xx  step_p2  kz101
14  kz100        4  8703.780957  az1xx   step_p  kz001
15  kz100        4  8703.780957  az1xx  step_p2  kz101
16  kz100        1  7504.497271  az2xx   step_p  kz001
17  kz100        1  7504.497271  az2xx  step_p2  kz101
18  kz100        2  7531.583077  az2xx   step_p  kz001
19  kz100        2  7531.583077  az2xx  step_p2  kz101
20  kz100        3  5698.478884  az2xx   step_p  kz001
21  kz100        3  5698.478884  az2xx  step_p2  kz101
22  kz100        4  9924.720359  az2xx   step_p  kz001
23  kz100        4  9924.720359  az2xx  step_p2  kz101

In [37]:
res2 = res2.reset_index()

In [38]:
res2

     step  subitem        value lot_wf  level_4      0
0   kz000        1    64.759684  az1xx   step_p  kz001
1   kz000        2    56.530912  az1xx   step_p  kz001
2   kz000        3    29.422062  az1xx   step_p  kz001
3   kz000        4    71.807115  az1xx   step_p  kz001
4   kz000        1     5.896241  az2xx   step_p  kz001
5   kz000        2     9.246171  az2xx   step_p  kz001
6   kz000        3    35.794899  az2xx   step_p  kz001
7   kz000        4    26.421519  az2xx   step_p  kz001
8   kz100        1  8262.035229  az1xx   step_p  kz001
9   kz100        1  8262.035229  az1xx  step_p2  kz101
10  kz100        2  7433.690884  az1xx   step_p  kz001
11  kz100        2  7433.690884  az1xx  step_p2  kz101
12  kz100        3  8880.134533  az1xx   step_p  kz001
13  kz100        3  8880.134533  az1xx  step_p2  kz101
14  kz100        4  8703.780957  az1xx   step_p  kz001
15  kz100        4  8703.780957  az1xx  step_p2  kz101
16  kz100        1  7504.497271  az2xx   step_p  kz001
17  kz100        1  7504.497271  az2xx  step_p2  kz101
18  kz100        2  7531.583077  az2xx   step_p  kz001
19  kz100        2  7531.583077  az2xx  step_p2  kz101
20  kz100        3  5698.478884  az2xx   step_p  kz001
21  kz100        3  5698.478884  az2xx  step_p2  kz101
22  kz100        4  9924.720359  az2xx   step_p  kz001
23  kz100        4  9924.720359  az2xx  step_p2  kz101

In [48]:
res2.rename(columns={0:'step_p','level_4':'step_info'}, inplace=True)

In [49]:
res2

     step  subitem        value lot_wf step_info step_p
0   kz000        1    64.759684  az1xx    step_p  kz001
1   kz000        2    56.530912  az1xx    step_p  kz001
2   kz000        3    29.422062  az1xx    step_p  kz001
3   kz000        4    71.807115  az1xx    step_p  kz001
4   kz000        1     5.896241  az2xx    step_p  kz001
5   kz000        2     9.246171  az2xx    step_p  kz001
6   kz000        3    35.794899  az2xx    step_p  kz001
7   kz000        4    26.421519  az2xx    step_p  kz001
8   kz100        1  8262.035229  az1xx    step_p  kz001
9   kz100        1  8262.035229  az1xx   step_p2  kz101
10  kz100        2  7433.690884  az1xx    step_p  kz001
11  kz100        2  7433.690884  az1xx   step_p2  kz101
12  kz100        3  8880.134533  az1xx    step_p  kz001
13  kz100        3  8880.134533  az1xx   step_p2  kz101
14  kz100        4  8703.780957  az1xx    step_p  kz001
15  kz100        4  8703.780957  az1xx   step_p2  kz101
16  kz100        1  7504.497271  az2xx    step_p  kz001
17  kz100        1  7504.497271  az2xx   step_p2  kz101
18  kz100        2  7531.583077  az2xx    step_p  kz001
19  kz100        2  7531.583077  az2xx   step_p2  kz101
20  kz100        3  5698.478884  az2xx    step_p  kz001
21  kz100        3  5698.478884  az2xx   step_p2  kz101
22  kz100        4  9924.720359  az2xx    step_p  kz001
23  kz100        4  9924.720359  az2xx   step_p2  kz101

In [52]:
res3 = pd.merge(res2, path, on=['lot_wf','step_p'], how='left')

res3

     step  subitem        value lot_wf step_info step_p      ppid_p
0   kz000        1    64.759684  az1xx    step_p  kz001      pRG7.5
1   kz000        2    56.530912  az1xx    step_p  kz001      pRG7.5
2   kz000        3    29.422062  az1xx    step_p  kz001      pRG7.5
3   kz000        4    71.807115  az1xx    step_p  kz001      pRG7.5
4   kz000        1     5.896241  az2xx    step_p  kz001      nRG8.5
5   kz000        2     9.246171  az2xx    step_p  kz001      nRG8.5
6   kz000        3    35.794899  az2xx    step_p  kz001      nRG8.5
7   kz000        4    26.421519  az2xx    step_p  kz001      nRG8.5
8   kz100        1  8262.035229  az1xx    step_p  kz001      pRG7.5
9   kz100        1  8262.035229  az1xx   step_p2  kz101  UHP3.3+CFL
10  kz100        2  7433.690884  az1xx    step_p  kz001      pRG7.5
11  kz100        2  7433.690884  az1xx   step_p2  kz101  UHP3.3+CFL
12  kz100        3  8880.134533  az1xx    step_p  kz001      pRG7.5
13  kz100        3  8880.134533  az1xx   step_p2  kz101  UHP3.3+CFL
14  kz100        4  8703.780957  az1xx    step_p  kz001      pRG7.5
15  kz100        4  8703.780957  az1xx   step_p2  kz101  UHP3.3+CFL
16  kz100        1  7504.497271  az2xx    step_p  kz001      nRG8.5
17  kz100        1  7504.497271  az2xx   step_p2  kz101      UHP3.1
18  kz100        2  7531.583077  az2xx    step_p  kz001      nRG8.5
19  kz100        2  7531.583077  az2xx   step_p2  kz101      UHP3.1
20  kz100        3  5698.478884  az2xx    step_p  kz001      nRG8.5
21  kz100        3  5698.478884  az2xx   step_p2  kz101      UHP3.1
22  kz100        4  9924.720359  az2xx    step_p  kz001      nRG8.5
23  kz100        4  9924.720359  az2xx   step_p2  kz101      UHP3.1

In [53]:
pivot = pd.pivot_table(
    res3,
    index=['step','lot_wf'],
    columns=['step_info'],
    values='ppid_p',
    aggfunc='last',
).reset_index()

pivot

step_info   step lot_wf  step_p     step_p2
0          kz000  az1xx  pRG7.5        None
1          kz000  az2xx  nRG8.5        None
2          kz100  az1xx  pRG7.5  UHP3.3+CFL
3          kz100  az2xx  nRG8.5      UHP3.1

### append conditional information

In [54]:
pivot.loc[pivot['step_p2'].isnull(), 'alias'] = pivot['step_p']
pivot.loc[pivot['step_p2'].notnull(), 'alias'] = pivot['step_p'] + '_' + pivot['step_p2']

pivot

step_info   step lot_wf  step_p     step_p2              alias
0          kz000  az1xx  pRG7.5        None             pRG7.5
1          kz000  az2xx  nRG8.5        None             nRG8.5
2          kz100  az1xx  pRG7.5  UHP3.3+CFL  pRG7.5_UHP3.3+CFL
3          kz100  az2xx  nRG8.5      UHP3.1      nRG8.5_UHP3.1

In [55]:
pivot[['step','lot_wf','alias']]

step_info   step lot_wf              alias
0          kz000  az1xx             pRG7.5
1          kz000  az2xx             nRG8.5
2          kz100  az1xx  pRG7.5_UHP3.3+CFL
3          kz100  az2xx      nRG8.5_UHP3.1